<div id="contenedor-frutas">
  <h2 class="titulo-section">Frutas</h2>
  <%if(session.user) { 
    if(session.user.isAdmin){%>
  <a class="btn-add" href="/frutas/new">Agregar Fruta</a>
  <%}}%>
  
  <% var i; for (i=0; i < frutas.length; i++) {%> 
  <article class="frutas">       
    <a href="/frutas/<%= frutas[i].nombre %>"><figure>
    <%if (frutas[i].image){%>
        <img  src="/media/<%= frutas[i].image %>">
    <%}else{%>
    <img src="/images/frutas.png">
    <% } %>
    <figcaption><%= frutas[i].nombre %></figcaption></figure></a>
      <%if (session.user && session.user.isAdmin){%>

        <a class="btn" href="/frutas/<%= frutas[i].id %>/edit"><button>Editar</button></a>
          <form method="post" action="/frutas/<%= frutas[i].id %>?_method=delete">
            <button class="btn" type="submit" onClick="return confirm('Borrar: <%= frutas[i].nombre %>');">
              Borrar
            </button>
          </form>
        <%
      }%>
       </article>
  <% } %>
  

</div>